{extends file="admin-layout.tpl"}
{default_translation_domain domain='team.bo.default'}

{block name="no-return-functions"}
    {$admin_current_location = 'tools'}
{/block}

{block name="page-title"}{intl l='Team' d='team.bo.default'}{/block}

{block name="check-resource"}admin.module{/block}
{block name="check-access"}view{/block}
{block name="check-module"}Team{/block}

{block name="main-content"}
    {include file="includes/team-content.html"}
    {include file="modal/team.html"}
    {include file="modal/person.html"}
{/block}

{block name="javascript-initialization"}
    {include file="js/team-js.html"}
    {include file="js/person-js.html"}
{/block}