<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">
    <parameters>
        <parameter key="file_model.classes" type="collection">
            <parameter key="document.product">Thelia\Model\ProductDocument</parameter>
            <parameter key="image.product">Thelia\Model\ProductImage</parameter>

            <parameter key="document.category">Thelia\Model\CategoryDocument</parameter>
            <parameter key="image.category">Thelia\Model\CategoryImage</parameter>

            <parameter key="document.content">Thelia\Model\ContentDocument</parameter>
            <parameter key="image.content">Thelia\Model\ContentImage</parameter>

            <parameter key="document.folder">Thelia\Model\FolderDocument</parameter>
            <parameter key="image.folder">Thelia\Model\FolderImage</parameter>

            <parameter key="document.brand">Thelia\Model\BrandDocument</parameter>
            <parameter key="image.brand">Thelia\Model\BrandImage</parameter>

            <parameter key="image.module">Thelia\Model\ModuleImage</parameter>

            <parameter key="image.person">Team\Model\PersonImage</parameter>
        </parameter>
    </parameters>

    <loops>
        <loop name="team" class="Team\Loop\TeamLoop"/>
        <loop name="person" class="Team\Loop\PersonLoop"/>
        <loop name="image" class="Team\Loop\PersonImageLoop"/>
        <loop name="person_function" class="Team\Loop\PersonFunctionLoop"/>
    </loops>

    <forms>
        <form name="team.create" class="Team\Form\TeamCreateForm"/>
        <form name="team.update" class="Team\Form\TeamUpdateForm"/>
        <form name="person.create" class="Team\Form\PersonCreateForm"/>
        <form name="person.update" class="Team\Form\PersonUpdateForm"/>
        <form name="person_function.create" class="Team\Form\FunctionCreateForm"/>
        <form name="person_function_link.create" class="Team\Form\FunctionLinkForm"/>
    </forms>

    <services>
        <!-- The file manager -->
        <service id="thelia.file_manager" class="Thelia\Files\FileManager">
            <argument>%file_model.classes%</argument>
        </service>
        <service id="team_service" class="Team\Service\TeamService">
            <call method="setDispatcher">
                <argument type="service" id="event_dispatcher"/>
            </call>
        </service>
        <service id="person_team_link_service" class="Team\Service\PersonTeamLinkService">
            <call method="setDispatcher">
                <argument type="service" id="event_dispatcher"/>
            </call>
        </service>
        <service id="person_function_service" class="Team\Service\FunctionService">
            <call method="setDispatcher">
                <argument type="service" id="event_dispatcher"/>
            </call>
        </service>
        <service id="person_function_link_service" class="Team\Service\FunctionPersonLinkService">
            <call method="setDispatcher">
                <argument type="service" id="event_dispatcher"/>
            </call>
        </service>
        <service id="person_service" class="Team\Service\PersonService">
            <call method="setDispatcher">
                <argument type="service" id="event_dispatcher"/>
            </call>
            <call method="setLinkService">
                <argument type="service" id="person_team_link_service"/>
            </call>
        </service>
    </services>

    <hooks>
        <hook id="team.admin.hook" class="Team\Hook\AdminInterfaceHook" scope="request">
            <tag name="hook.event_listener" event="main.top-menu-modules" type="back" method="onMenuModule"/>
            <argument type="service" id="router.team"/>
        </hook>
    </hooks>

</config>
