<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <loop name="team" class="Team\Loop\TeamLoop"/>
    </loops>

    <forms>
        <!--
        <form name="MyFormName" class="Team\Form\MySuperForm" />
        -->
        <form name="team.create" class="Team\Form\TeamCreateForm"/>
        <form name="team.update" class="Team\Form\TeamUpdateForm"/>
    </forms>

    <commands>
        <!--
        <command class="Team\Command\MySuperCommand" />
        -->
    </commands>

    <services>
        <service id="team_service" class="Team\Service\TeamService">
            <call method="setDispatcher">
                <argument type="service" id="event_dispatcher"/>
            </call>
        </service>
    </services>

    <hooks>
        <hook id="team.admin.hook" class="Team\Hook\AdminInterfaceHook" scope="request">
            <tag name="hook.event_listener" event="main.top-menu-modules" type="back" method="onMenuModule"/>
            <argument type="service" id="router.team"/>
        </hook>
    </hooks>


    <!--
    <exports>

    </exports>
    -->

    <!--
    <imports>

    </imports>
    -->
</config>
